In [6]:
#importing the packages
import pandas as pd
import numpy as np
import random 

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import joblib # for saving algorithm and preprocessing objects
from sklearn.linear_model import LinearRegression

In [7]:
# uploading the dataset
df = pd.read_csv('RegionalInterestByConditionOverTime.csv')
df.head()

,dma,geoCode,2004+cancer,2004+cardiovascular,2004+stroke,2004+depression,2004+rehab,2004+vaccine,2004+diarrhea,2004+obesity,...,2016+diabetes,2017+cancer,2017+cardiovascular,2017+stroke,2017+depression,2017+rehab,2017+vaccine,2017+diarrhea,2017+obesity,2017+diabetes
0,Portland-Auburn ME,500,44,6,17,39,21,31,14,29,...,81,70,37,83,64,56,76,66,47,80
1,New York NY,501,47,6,13,38,16,33,12,27,...,77,70,34,53,56,53,79,56,52,78
2,Binghamton NY,502,48,3,16,50,12,37,24,31,...,74,68,24,71,69,44,77,78,61,72
3,Macon GA,503,44,14,14,37,19,49,14,29,...,78,53,38,62,46,60,47,53,41,66
4,Philadelphia PA,504,52,7,16,41,23,36,14,30,...,80,75,35,61,62,75,84,69,56,78

In [8]:
print(df.columns)
print(df.shape)
print(df.describe())

Index(['dma', 'geoCode', '2004+cancer', '2004+cardiovascular', '2004+stroke',
       '2004+depression', '2004+rehab', '2004+vaccine', '2004+diarrhea',
       '2004+obesity',
       ...
       '2016+diabetes', '2017+cancer', '2017+cardiovascular', '2017+stroke',
       '2017+depression', '2017+rehab', '2017+vaccine', '2017+diarrhea',
       '2017+obesity', '2017+diabetes'],
      dtype='object', length=128)
(210, 128)
          geoCode  2004+cancer  2004+cardiovascular  2004+stroke  \
count  210.000000   210.000000           210.000000   210.000000
mean   641.104762    43.904762             7.433333    17.642857
std    100.375079     7.618944             7.909647     8.135284
min    500.000000    27.000000             0.000000     0.000000
25%    552.250000    40.000000             5.000000    14.000000
50%    627.500000    43.000000             6.000000    16.000000
75%    723.500000    47.000000             9.000000    18.000000
max    881.000000   100.000000           100.000000   100.000000

       2004+depression  2004+rehab  2004+vaccine  2004+diarrhea  2004+obesity  \
count        210.00000  210.000000    210.000000     210.000000    210.000000
mean          45.62381   18.890476     32.476190      16.280952     34.261905
std           13.71572   10.157723     14.768773      11.449582     16.136765
min            0.00000    0.000000      0.000000       0.000000      0.000000
25%           37.00000   15.000000     25.000000      12.000000     26.000000
50%           44.00000   17.000000     31.000000      14.000000     32.000000
75%           51.00000   21.000000     38.000000      17.750000     41.000000
max          100.00000  100.000000    100.000000     100.000000    100.000000

       2004+diabetes  ...  2016+diabetes  2017+cancer  2017+cardiovascular  \
count     210.000000  ...     210.000000   210.000000           210.000000
mean       38.042857  ...      77.823810    64.709524            35.923810
std        10.017357  ...       8.494434     6.436023            12.521136
min         0.000000  ...       0.000000    47.000000             0.000000
25%        33.000000  ...      74.000000    60.250000            29.000000
50%        37.000000  ...      78.000000    65.000000            34.000000
75%        42.000000  ...      81.750000    68.000000            41.000000
max       100.000000  ...     100.000000   100.000000           100.000000

       2017+stroke  2017+depression  2017+rehab  2017+vaccine  2017+diarrhea  \
count   210.000000       210.000000  210.000000    210.000000     210.000000
mean     70.838095        62.828571   52.928571     72.800000      72.723810
std      10.800606         8.539755   14.795242     10.983154      10.453813
min       0.000000         0.000000    0.000000      0.000000       0.000000
25%      64.000000        59.000000   43.000000     67.000000      67.000000
50%      71.000000        63.000000   51.000000     73.000000      72.000000
75%      77.000000        67.000000   61.000000     79.000000      78.000000
max     100.000000       100.000000  100.000000    100.000000     100.000000

       2017+obesity  2017+diabetes
count    210.000000     210.000000
mean      51.761905      77.309524
std       13.846751       8.935409
min        0.000000       0.000000
25%       45.250000      73.000000
50%       51.000000      78.000000
75%       58.000000      81.000000
max      100.000000     100.000000

[8 rows x 127 columns]

In [9]:
#IQR range
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

geoCode                171.25
2004+cancer              7.00
2004+cardiovascular      4.00
2004+stroke              4.00
2004+depression         14.00
                        ...
2017+rehab              18.00
2017+vaccine            12.00
2017+diarrhea           11.00
2017+obesity            12.75
2017+diabetes            8.00
Length: 127, dtype: float64

In [10]:
#removing Outliers
df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]
df.shape

(91, 128)

In [11]:
global states
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [12]:
df['State_Code'] = df['dma'].apply(lambda x: x[x.rfind(" ")+1:])

In [13]:
df['State'] = df['State_Code'].apply(lambda x:states[x])
df

,dma,geoCode,2004+cancer,2004+cardiovascular,2004+stroke,2004+depression,2004+rehab,2004+vaccine,2004+diarrhea,2004+obesity,...,2017+cardiovascular,2017+stroke,2017+depression,2017+rehab,2017+vaccine,2017+diarrhea,2017+obesity,2017+diabetes,State_Code,State
0,Portland-Auburn ME,500,44,6,17,39,21,31,14,29,...,37,83,64,56,76,66,47,80,ME,Maine
1,New York NY,501,47,6,13,38,16,33,12,27,...,34,53,56,53,79,56,52,78,NY,New York
4,Philadelphia PA,504,52,7,16,41,23,36,14,30,...,35,61,62,75,84,69,56,78,PA,Pennsylvania
5,Detroit MI,505,47,6,16,45,14,31,15,27,...,38,66,61,57,73,70,45,74,MI,Michigan
6,Boston MA-Manchester NH,506,48,6,15,38,25,34,14,27,...,37,58,62,72,76,58,58,74,NH,New Hampshire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,San Diego CA,825,42,5,15,31,14,29,11,22,...,37,57,59,37,80,61,56,76,CA,California
204,Las Vegas NV,839,33,4,16,32,16,22,16,17,...,31,55,52,52,60,65,42,70,NV,Nevada
206,Sacramento-Stockton-Modesto CA,862,40,4,17,41,12,35,13,29,...,29,64,55,36,75,66,55,76,CA,California
208,Chico-Redding CA,868,36,4,22,33,16,49,14,41,...,38,76,63,59,89,70,62,75,CA,California
209,Spokane WA,881,44,6,17,49,16,34,10,30,...,33,77,61,43,85,75,53,73,WA,Washington

In [14]:
df.shape

(91, 130)

In [15]:
temp_cols = ['cancer','cardiovascular','stroke','depression','rehab','vaccine','diarrhea','obesity','diabetes']
new_columns = ['State','Year',*temp_cols]

In [21]:
data_final = []
for _, row in df.iterrows():
    keys = list(row.keys())[2:-2]
    values = list(row[2:-2])
    for year in range(0,14):
        d = [row['State'] , year+2003 , *values[year:year+9]]
        data_final.append(d)
dd = pd.DataFrame(data_final , columns = new_columns)
dff = dd.groupby(['State','Year']).mean().reset_index()
dff

,State,Year,cancer,cardiovascular,stroke,depression,rehab,vaccine,diarrhea,obesity,diabetes
0,Alabama,2003,41.000000,7.000000,18.000000,48.000000,18.000000,29.000000,12.000000,20.000000,34.000000
1,Alabama,2004,7.000000,18.000000,48.000000,18.000000,29.000000,12.000000,20.000000,34.000000,60.000000
2,Alabama,2005,18.000000,48.000000,18.000000,29.000000,12.000000,20.000000,34.000000,60.000000,14.000000
3,Alabama,2006,48.000000,18.000000,29.000000,12.000000,20.000000,34.000000,60.000000,14.000000,46.000000
4,Alabama,2007,18.000000,29.000000,12.000000,20.000000,34.000000,60.000000,14.000000,46.000000,9.000000
...,...,...,...,...,...,...,...,...,...,...,...
569,Wisconsin,2012,63.333333,11.666667,43.000000,12.666667,19.333333,27.666667,22.666667,16.000000,20.333333
570,Wisconsin,2013,11.666667,43.000000,12.666667,19.333333,27.666667,22.666667,16.000000,20.333333,51.000000
571,Wisconsin,2014,43.000000,12.666667,19.333333,27.666667,22.666667,16.000000,20.333333,51.000000,17.333333
572,Wisconsin,2015,12.666667,19.333333,27.666667,22.666667,16.000000,20.333333,51.000000,17.333333,23.666667
573,Wisconsin,2016,19.333333,27.666667,22.666667,16.000000,20.333333,51.000000,17.333333,23.666667,25.000000

In [25]:
dff['Total'] = dff['cancer'] + dff['cardiovascular'] + dff['stroke'] + dff['depression'] + dff['rehab'] + dff['vaccine'] + dff['diarrhea'] + dff['obesity'] + dff['obesity'] 
val_max = dff['Total'].max()
val_min = dff['Total'].min()
dff['Scaled_total'] = dff['Total'].apply(lambda x: (x-val_min)/(val_max-val_min))
dff

,State,Year,cancer,cardiovascular,stroke,depression,rehab,vaccine,diarrhea,obesity,diabetes,Total,Scaled_total
0,Alabama,2003,41.000000,7.000000,18.000000,48.000000,18.000000,29.000000,12.000000,20.000000,34.000000,213.000000,0.237333
1,Alabama,2004,7.000000,18.000000,48.000000,18.000000,29.000000,12.000000,20.000000,34.000000,60.000000,220.000000,0.274667
2,Alabama,2005,18.000000,48.000000,18.000000,29.000000,12.000000,20.000000,34.000000,60.000000,14.000000,299.000000,0.696000
3,Alabama,2006,48.000000,18.000000,29.000000,12.000000,20.000000,34.000000,60.000000,14.000000,46.000000,249.000000,0.429333
4,Alabama,2007,18.000000,29.000000,12.000000,20.000000,34.000000,60.000000,14.000000,46.000000,9.000000,279.000000,0.589333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Wisconsin,2012,63.333333,11.666667,43.000000,12.666667,19.333333,27.666667,22.666667,16.000000,20.333333,232.333333,0.340444
570,Wisconsin,2013,11.666667,43.000000,12.666667,19.333333,27.666667,22.666667,16.000000,20.333333,51.000000,193.666667,0.134222
571,Wisconsin,2014,43.000000,12.666667,19.333333,27.666667,22.666667,16.000000,20.333333,51.000000,17.333333,263.666667,0.507556
572,Wisconsin,2015,12.666667,19.333333,27.666667,22.666667,16.000000,20.333333,51.000000,17.333333,23.666667,204.333333,0.191111
573,Wisconsin,2016,19.333333,27.666667,22.666667,16.000000,20.333333,51.000000,17.333333,23.666667,25.000000,221.666667,0.283556

In [17]:
import pickle
pickle.dump( dd, open( "diseases_df.p", "wb" ) )

In [ ]:
import pickle
import pandas as pd
df = pickle.load( open( "diseases_df.p", "rb" ) )

In [101]:
import joblib,json
data_loaded = joblib.load('processed_data.joblib')

final_data= []

jss = data_loaded.to_json()
j = json.loads(jss)
data_loaded.shape

(799, 15)

In [99]:
zip_data = list(zip(j['State'].values(),
j['Year'].values(),
j['Total_AQI'].values()))

[('Alabama', 2000, 164.0),
 ('Alabama', 2001, 155.070407577),
 ('Alabama', 2002, 146.1408151541),
 ('Alabama', 2003, 137.2112227311),
 ('Alabama', 2004, 128.2816303081),
 ('Alabama', 2005, 119.3520378852),
 ('Alabama', 2006, 110.4224454622),
 ('Alabama', 2007, 101.4928530392),
 ('Alabama', 2008, 92.5632606163),
 ('Alabama', 2009, 83.6336681933),
 ('Alabama', 2010, 74.7040757703),
 ('Alabama', 2011, 65.7744833474),
 ('Alabama', 2012, 56.8448909244),
 ('Alabama', 2013, 47.9152985014),
 ('Alabama', 2014, 63.3651854834),
 ('Alabama', 2015, 60.537035649),
 ('Alabama', 2016, 66.2469879579),
 ('Alaska', 2000, 164.0),
 ('Alaska', 2001, 155.2949213804),
 ('Alaska', 2002, 146.5898427607),
 ('Alaska', 2003, 137.8847641411),
 ('Alaska', 2004, 129.1796855215),
 ('Alaska', 2005, 120.4746069018),
 ('Alaska', 2006, 111.7695282822),
 ('Alaska', 2007, 103.0644496626),
 ('Alaska', 2008, 94.3593710429),
 ('Alaska', 2009, 85.6542924233),
 ('Alaska', 2010, 76.9492138036),
 ('Alaska', 2011, 68.244135184),
 ('Alaska', 2012, 59.5390565644),
 ('Alaska', 2013, 50.8339779447),
 ('Alaska', 2014, 42.1288993251),
 ('Alaska', 2015, 42.2657225836),
 ('Alaska', 2016, 0.0),
 ('Arizona', 2000, 85.475771849),
 ('Arizona', 2001, 82.7223814457),
 ('Arizona', 2002, 86.325516598),
 ('Arizona', 2003, 84.7427403286),
 ('Arizona', 2004, 81.6659079545),
 ('Arizona', 2005, 83.7699794809),
 ('Arizona', 2006, 84.2795888221),
 ('Arizona', 2007, 81.1536675189),
 ('Arizona', 2008, 81.6556520854),
 ('Arizona', 2009, 79.7767880912),
 ('Arizona', 2010, 77.5851931563),
 ('Arizona', 2011, 77.4640822214),
 ('Arizona', 2012, 79.8261840609),
 ('Arizona', 2013, 77.8510310163),
 ('Arizona', 2014, 81.2193803621),
 ('Arizona', 2015, 73.677043233),
 ('Arizona', 2016, 75.7292245476),
 ('Arkansas', 2000, 164.0),
 ('Arkansas', 2001, 149.8966306104),
 ('Arkansas', 2002, 135.7932612208),
 ('Arkansas', 2003, 121.6898918311),
 ('Arkansas', 2004, 107.5865224415),
 ('Arkansas', 2005, 93.4831530519),
 ('Arkansas', 2006, 79.3797836623),
 ('Arkansas', 2007, 65.2764142727),
 ('Arkansas', 2008, 60.9515961424),
 ('Arkansas', 2009, 58.3589560222),
 ('Arkansas', 2010, 64.3122712932),
 ('Arkansas', 2011, 62.7546771259),
 ('Arkansas', 2012, 65.3317770404),
 ('Arkansas', 2013, 64.026827282),
 ('Arkansas', 2014, 60.3275408718),
 ('Arkansas', 2015, 59.1183254131),
 ('Arkansas', 2016, 60.1112501987),
 ('California', 2000, 61.618990453),
 ('California', 2001, 63.0005971184),
 ('California', 2002, 63.8647463949),
 ('California', 2003, 62.2920879735),
 ('California', 2004, 61.2288625735),
 ('California', 2005, 59.8124003625),
 ('California', 2006, 61.9902016133),
 ('California', 2007, 60.4175076164),
 ('California', 2008, 60.5012645136),
 ('California', 2009, 59.2294508558),
 ('California', 2010, 58.0300955934),
 ('California', 2011, 58.5597117251),
 ('California', 2012, 56.5797748507),
 ('California', 2013, 58.9381330735),
 ('California', 2014, 58.9801442579),
 ('California', 2015, 59.2193650557),
 ('California', 2016, 54.8631542358),
 ('Colorado', 2000, 67.9451182228),
 ('Colorado', 2001, 82.5973175241),
 ('Colorado', 2002, 78.4184849824),
 ('Colorado', 2003, 80.3972678589),
 ('Colorado', 2004, 76.0148198125),
 ('Colorado', 2005, 81.5784977991),
 ('Colorado', 2006, 81.3968163152),
 ('Colorado', 2007, 82.0518542433),
 ('Colorado', 2008, 83.246260321),
 ('Colorado', 2009, 78.1057612542),
 ('Colorado', 2010, 74.3885361908),
 ('Colorado', 2011, 83.9374494262),
 ('Colorado', 2012, 79.8534103347),
 ('Colorado', 2013, 68.1751498699),
 ('Colorado', 2014, 75.7625130136),
 ('Colorado', 2015, 81.1127894671),
 ('Colorado', 2016, 83.4244398243),
 ('Connecticut', 2000, 164.0),
 ('Connecticut', 2001, 148.5288838738),
 ('Connecticut', 2002, 133.0577677476),
 ('Connecticut', 2003, 117.5866516213),
 ('Connecticut', 2004, 102.1155354951),
 ('Connecticut', 2005, 86.6444193689),
 ('Connecticut', 2006, 71.1733032427),
 ('Connecticut', 2007, 65.8965313126),
 ('Connecticut', 2008, 60.1606508646),
 ('Connecticut', 2009, 56.52957448),
 ('Connecticut', 2010, 57.7055616089),
 ('Connecticut', 2011, 53.9464385226),
 ('Connecticut', 2012, 52.4511626551),
 ('Connecticut', 2013, 53.5243015775),
 ('Connecticut', 2014, 55.0652458066),
 ('Connecticut', 2015, 56.2965918562),
 ('Connecticut', 2016, 0.0),
 ('Country Of Mexico', 2000, 164.0),
 ('Country Of Mexico', 2001, 148.2325042577),
 ('Country Of Mexico', 2002, 132.4650085155),
 ('Country Of Mexico', 2003, 116.6975127732),
 ('Country Of Mexico', 2004, 100.9300170309),
 ('Country Of Mexico', 2005, 85.1625212886),
 ('Country Of Mexico', 2006, 69.3950255464),
 ('Country Of Mexico', 2007, 69.122142126),
 ('Country Of Mexico', 2008, 69.4645299989),
 ('Country Of Mexico', 2009, 73.2309549618),
 ('Country Of Mexico', 2010, 67.0199142234),
 ('Country Of Mexico', 2011, 65.1134262551),
 ('Country Of Mexico', 2012, 52.0907410041),
 ('Country Of Mexico', 2013, 39.0680557531),
 ('Country Of Mexico', 2014, 26.0453705021),
 ('Country Of Mexico', 2015, 13.022685251),
 ('Country Of Mexico', 2016, 0.0),
 ('Delaware', 2000, 164.0),
 ('Delaware', 2001, 154.2447798488),
 ('Delaware', 2002, 144.4895596977),
 ('Delaware', 2003, 134.7343395465),
 ('Delaware', 2004, 124.9791193953),
 ('Delaware', 2005, 115.2238992442),
 ('Delaware', 2006, 105.468679093),
 ('Delaware', 2007, 95.7134589419),
 ('Delaware', 2008, 85.9582387907),
 ('Delaware', 2009, 76.2030186395),
 ('Delaware', 2010, 66.4477984884),
 ('Delaware', 2011, 56.6925783372),
 ('Delaware', 2012, 58.8186529834),
 ('Delaware', 2013, 60.9937001464),
 ('Delaware', 2014, 61.0598254096),
 ('Delaware', 2015, 62.0592302566),
 ('Delaware', 2016, 64.121072672),
 ('District Of Columbia', 2000, 67.0479167366),
 ('District Of Columbia', 2001, 73.4829830999),
 ('District Of Columbia', 2002, 77.2217271705),
 ('District Of Columbia', 2003, 72.4415615314),
 ('District Of Columbia', 2004, 66.7055995339),
 ('District Of Columbia', 2005, 72.5300637639),
 ('District Of Columbia', 2006, 72.5152075722),
 ('District Of Columbia', 2007, 69.8722298975),
 ('District Of Columbia', 2008, 76.9254678158),
 ('District Of Columbia', 2009, 70.5079035279),
 ('District Of Columbia', 2010, 74.2237483032),
 ('District Of Columbia', 2011, 70.094597638),
 ('District Of Columbia', 2012, 68.66016969),
 ('District Of Columbia', 2013, 63.4303710544),
 ('District Of Columbia', 2014, 65.3020872765),
 ('District Of Columbia', 2015, 67.4310257949),
 ('District Of Columbia', 2016, 71.0872358159),
 ('Florida', 2000, 68.4685825372),
 ('Florida', 2001, 64.7607772719),
 ('Florida', 2002, 62.6365178939),
 ('Florida', 2003, 61.2609967338),
 ('Florida', 2004, 62.3182409427),
 ('Florida', 2005, 60.816977877),
 ('Florida', 2006, 61.5984584423),
 ('Florida', 2007, 56.6908829962),
 ('Florida', 2008, 53.1802994751),
 ('Florida', 2009, 55.1018240582),
 ('Florida', 2010, 54.5704177547),
 ('Florida', 2011, 53.7580383114),
 ('Florida', 2012, 51.2811965418),
 ('Florida', 2013, 50.8634397914),
 ('Florida', 2014, 53.2694036048),
 ('Florida', 2015, 50.6372160254),
 ('Florida', 2016, 58.0778736791),
 ('Georgia', 2000, 164.0),
 ('Georgia', 2001, 154.2917621667),
 ('Georgia', 2002, 144.5835243335),
 ('Georgia', 2003, 134.8752865002),
 ('Georgia', 2004, 125.1670486669),
 ('Georgia', 2005, 115.4588108336),
 ('Georgia', 2006, 105.7505730004),
 ('Georgia', 2007, 96.0423351671),
 ('Georgia', 2008, 86.3340973338),
 ('Georgia', 2009, 76.6258595006),
 ('Georgia', 2010, 66.9176216673),
 ('Georgia', 2011, 68.6698751331),
 ('Georgia', 2012, 63.3328066184),
 ('Georgia', 2013, 57.8915677404),
 ('Georgia', 2014, 60.7522984464),
 ('Georgia', 2015, 57.6454956366),
 ('Georgia', 2016, 60.9354858518),
 ('Hawaii', 2000, 164.0),
 ('Hawaii', 2001, 152.8917558278),
 ('Hawaii', 2002, 141.7835116556),
 ('Hawaii', 2003, 130.6752674833),
 ('Hawaii', 2004, 119.5670233111),
 ('Hawaii', 2005, 108.4587791389),
 ('Hawaii', 2006, 97.3505349667),
 ('Hawaii', 2007, 86.2422907945),
 ('Hawaii', 2008, 75.1340466223),
 ('Hawaii', 2009, 64.02580245),
 ('Hawaii', 2010, 52.9175582778),
 ('Hawaii', 2011, 41.8093141056),
 ('Hawaii', 2012, 38.9400179828),
 ('Hawaii', 2013, 45.518521221),
 ('Hawaii', 2014, 42.2416740089),
 ('Hawaii', 2015, 42.0895519407),
 ('Hawaii', 2016, 0.0),
 ('Idaho', 2000, 164.0),
 ('Idaho', 2001, 153.316760746),
 ('Idaho', 2002, 142.6335214919),
 ('Idaho', 2003, 131.9502822379),
 ('Idaho', 2004, 121.2670429839),
 ('Idaho', 2005, 110.5838037298),
 ('Idaho', 2006, 99.9005644758),
 ('Idaho', 2007, 89.2173252218),
 ('Idaho', 2008, 78.5340859677),
 ('Idaho', 2009, 67.8508467137),
 ('Idaho', 2010, 60.8609158381),
 ('Idaho', 2011, 43.0364956267),
 ('Idaho', 2012, 34.4291965014),
 ('Idaho', 2013, 25.821897376),
 ('Idaho', 2014, 17.2145982507),
 ('Idaho', 2015, 8.6072991253),
 ('Idaho', 2016, 0.0),
 ('Illinois', 2000, 71.4480617903),
 ('Illinois', 2001, 75.6509445441),
 ('Illinois', 2002, 71.4942955409),
 ('Illinois', 2003, 68.7913232753),
 ('Illinois', 2004, 68.5403410201),
 ('Illinois', 2005, 71.2426888477),
 ('Illinois', 2006, 69.0926508896),
 ('Illinois', 2007, 66.0079160949),
 ('Illinois', 2008, 64.0234718669),
 ('Illinois', 2009, 59.7799550252),
 ('Illinois', 2010, 66.0863758123),
 ('Illinois', 2011, 61.9580477126),
 ('Illinois', 2012, 63.3277972197),
 ('Illinois', 2013, 63.531008725),
 ('Illinois', 2014, 63.230286448),
 ('Illinois', 2015, 61.7035366142),
 ('Illinois', 2016, 60.8877298429),
 ('Indiana', 2000, 71.6089399516),
 ('Indiana', 2001, 77.3004577855),
 ('Indiana', 2002, 82.1590090602),
 ('Indiana', 2003, 76.3034634522),
 ('Indiana', 2004, 75.1693415624),
 ('Indiana', 2005, 76.9281216696),
 ('Indiana', 2006, 62.8083173918),
 ('Indiana', 2007, 69.368537548),
 ('Indiana', 2008, 66.2914084757),
 ('Indiana', 2009, 60.8775994698),
 ('Indiana', 2010, 65.5897315459),
 ('Indiana', 2011, 65.1924417302),
 ('Indiana', 2012, 72.0510746237),
 ('Indiana', 2013, 62.8965183122),
 ('Indiana', 2014, 63.8780236278),
 ('Indiana', 2015, 64.403561251),
 ('Indiana', 2016, 61.8484015245),
 ('Iowa', 2000, 164.0),
 ('Iowa', 2001, 143.305169883),
 ('Iowa', 2002, 122.6103397661),
 ('Iowa', 2003, 101.9155096491),
 ('Iowa', 2004, 81.2206795321),
 ('Iowa', 2005, 60.5258494152),
 ('Iowa', 2006, 39.8310192982),
 ('Iowa', 2007, 53.0322120542),
 ('Iowa', 2008, 53.4433864294),
 ('Iowa', 2009, 51.3145378274),
 ('Iowa', 2010, 54.4165620716),
 ('Iowa', 2011, 52.0204101011),
 ('Iowa', 2012, 53.5580947781),
 ('Iowa', 2013, 50.4954068037),
 ('Iowa', 2014, 50.7557632998),
 ('Iowa', 2015, 51.5444188019),
 ('Iowa', 2016, 52.2633873334),
 ('Kansas', 2000, 57.359364426),
 ('Kansas', 2001, 59.4108429838),
 ('Kansas', 2002, 54.2954283895),
 ('Kansas', 2003, 55.8517146981),
 ('Kansas', 2004, 55.9671805671),
 ('Kansas', 2005, 59.1470379089),
 ('Kansas', 2006, 60.7878668076),
 ('Kansas', 2007, 67.3590963291),
 ('Kansas', 2008, 66.9886423189),
 ('Kansas', 2009, 63.5086197637),
 ('Kansas', 2010, 66.448038034),
 ('Kansas', 2011, 62.544756182),
 ('Kansas', 2012, 66.9492692461),
 ('Kansas', 2013, 64.7745179277),
 ('Kansas', 2014, 64.3012386578),
 ('Kansas', 2015, 64.9471472137),
 ('Kansas', 2016, 61.7985933847),
 ('Kentucky', 2000, 69.3816544301),
 ('Kentucky', 2001, 71.5266851287),
 ('Kentucky', 2002, 67.6881942452),
 ('Kentucky', 2003, 69.4376066289),
 ('Kentucky', 2004, 68.163354257),
 ('Kentucky', 2005, 66.889101885),
 ('Kentucky', 2006, 65.614849513),
 ('Kentucky', 2007, 64.3405971411),
 ('Kentucky', 2008, 63.0663447691),
 ('Kentucky', 2009, 61.7920923972),
 ('Kentucky', 2010, 60.5178400252),
 ('Kentucky', 2011, 59.2435876533),
 ('Kentucky', 2012, 57.9693352813),
 ('Kentucky', 2013, 56.6950829094),
 ('Kentucky', 2014, 60.0526079441),
 ('Kentucky', 2015, 61.1925314123),
 ('Kentucky', 2016, 0.0),
 ('Louisiana', 2000, 71.3188458959),
 ('Louisiana', 2001, 68.2198289615),
 ('Louisiana', 2002, 68.8817864719),
 ('Louisiana', 2003, 65.647340359),
 ('Louisiana', 2004, 64.3156263115),
 ('Louisiana', 2005, 68.7464607556),
 ('Louisiana', 2006, 65.8935915941),
 ('Louisiana', 2007, 64.5712719042),
 ('Louisiana', 2008, 62.0969093209),
 ('Louisiana', 2009, 61.1239208917),
 ('Louisiana', 2010, 64.8038890871),
 ('Louisiana', 2011, 63.5931933065),
 ('Louisiana', 2012, 62.4128942189),
 ('Louisiana', 2013, 58.3288625154),
 ('Louisiana', 2014, 62.1467353691),
 ('Louisiana', 2015, 56.108530958),
 ('Louisiana', 2016, 64.9370683793),
 ('Maine', 2000, 164.0),
 ('Maine', 2001, 143.0381911131),
 ('Maine', 2002, 122.0763822261),
 ('Maine', 2003, 101.1145733392),
 ('Maine', 2004, 80.1527644523),
 ('Maine', 2005, 59.1909555653),
 ('Maine', 2006, 38.2291466784),
 ('Maine', 2007, 38.9452842653),
 ('Maine', 2008, 43.658364508),
 ('Maine', 2009, 43.8363040429),
 ('Maine', 2010, 46.429587419),
 ('Maine', 2011, 44.0227399364),
 ('Maine', 2012, 44.9146454773),
 ('Maine', 2013, 41.6976736567),
 ('Maine', 2014, 41.4794021092),
 ('Maine', 2015, 47.191793262),
 ('Maine', 2016, 56.5457406219),
 ('Maryland', 2000, 164.0),
 ('Maryland', 2001, 149.0593456385),
 ('Maryland', 2002, 134.1186912771),
 ('Maryland', 2003, 119.1780369156),
 ('Maryland', 2004, 104.2373825541),
 ('Maryland', 2005, 89.2967281927),
 ('Maryland', 2006, 74.3560738312),
 ('Maryland', 2007, 65.3209749435),
 ('Maryland', 2008, 63.4712766844),
 ('Maryland', 2009, 63.6285198582),
 ('Maryland', 2010, 68.6824391312),
 ('Maryland', 2011, 65.440531219),
 ('Maryland', 2012, 59.5105720795),
 ('Maryland', 2013, 58.7095719907),
 ('Maryland', 2014, 56.1099030658),
 ('Maryland', 2015, 56.5090234651),
 ('Maryland', 2016, 57.2381591966),
 ('Massachusetts', 2000, 164.0),
 ('Massachusetts', 2001, 66.5041057758),
 ('Massachusetts', 2002, 80.9156354641),
 ('Massachusetts', 2003, 70.7777786376),
 ('Massachusetts', 2004, 60.6621677485),
 ('Massachusetts', 2005, 64.4793660624),
 ('Massachusetts', 2006, 62.4001833131),
 ('Massachusetts', 2007, 64.7449088851),
 ('Massachusetts', 2008, 64.2500926236),
 ('Massachusetts', 2009, 61.668370039),
 ('Massachusetts', 2010, 62.0866250516),
 ('Massachusetts', 2011, 61.746359525),
 ('Massachusetts', 2012, 58.3832707274),
 ('Massachusetts', 2013, 61.0254520924),
 ('Massachusetts', 2014, 60.4791800966),
 ('Massachusetts', 2015, 59.886071597),
 ('Massachusetts', 2016, 61.7190702284),
 ('Michigan', 2000, 79.4295079915),
 ('Michigan', 2001, 79.3988786042),
 ('Michigan', 2002, 74.1556294937),
 ('Michigan', 2003, 73.3228107637),
 ('Michigan', 2004, 68.1701991276),
 ('Michigan', 2005, 72.5973179878),
 ('Michigan', 2006, 67.8261087538),
 ('Michigan', 2007, 42.3774280891),
 ('Michigan', 2008, 37.6688249681),
 ('Michigan', 2009, 32.9602218471),
 ('Michigan', 2010, 28.2516187261),
 ('Michigan', 2011, 23.5430156051),
 ('Michigan', 2012, 18.834412484),
 ('Michigan', 2013, 14.125809363),
 ('Michigan', 2014, 9.417206242),
 ('Michigan', 2015, 4.708603121),
 ('Michigan', 2016, 0.0),
 ('Minnesota', 2000, 164.0),
 ('Minnesota', 2001, 154.0966544311),
 ('Minnesota', 2002, 144.1933088622),
 ('Minnesota', 2003, 134.2899632933),
 ('Minnesota', 2004, 124.3866177244),
 ('Minnesota', 2005, 114.4832721554),
 ('Minnesota', 2006, 104.5799265865),
 ('Minnesota', 2007, 94.6765810176),
 ('Minnesota', 2008, 84.7732354487),
 ('Minnesota', 2009, 74.8698898798),
 ('Minnesota', 2010, 64.9665443109),
 ('Minnesota', 2011, 55.063198742),
 ('Minnesota', 2012, 60.1078924615),
 ('Minnesota', 2013, 55.1003332363),
 ('Minnesota', 2014, 50.092774011),
 ('Minnesota', 2015, 51.8430414588),
 ('Minnesota', 2016, 0.0),
 ('Missouri', 2000, 76.7455457842),
 ('Missouri', 2001, 80.8343594612),
 ('Missouri', 2002, 76.5902754194),
 ('Missouri', 2003, 78.6469323373),
 ('Missouri', 2004, 72.7026845362),
 ('Missouri', 2005, 74.2547566818),
 ('Missouri', 2006, 72.7189415107),
 ('Missouri', 2007, 74.5000688525),
 ('Missouri', 2008, 74.6582729716),
 ('Missouri', 2009, 72.5931123341),
 ('Missouri', 2010, 70.5279516966),
 ('Missouri', 2011, 68.4627910592),
 ('Missouri', 2012, 66.3976304217),
 ('Missouri', 2013, 64.3324697842),
 ('Missouri', 2014, 66.7519663823),
 ('Missouri', 2015, 60.1323448369),
 ('Missouri', 2016, 63.3376092504),
 ('Nevada', 2000, 164.0),
 ('Nevada', 2001, 52.13295879),
 ('Nevada', 2002, 54.806398893),
 ('Nevada', 2003, 50.9367141417),
 ('Nevada', 2004, 52.7427034026),
 ('Nevada', 2005, 54.5486926634),
 ('Nevada', 2006, 56.3546819242),
 ('Nevada', 2007, 58.160671185),
 ('Nevada', 2008, 59.9666604458),
 ('Nevada', 2009, 61.7726497066),
 ('Nevada', 2010, 63.5786389674),
 ('Nevada', 2011, 67.5466781887),
 ('Nevada', 2012, 70.01286028),
 ('Nevada', 2013, 70.8624239218),
 ('Nevada', 2014, 72.0729579245),
 ('Nevada', 2015, 70.1854523923),
 ('Nevada', 2016, 68.6237476648),
 ('New Hampshire', 2000, 164.0),
 ('New Hampshire', 2001, 113.8896498815),
 ('New Hampshire', 2002, 63.779299763),
 ('New Hampshire', 2003, 62.7001926507),
 ('New Hampshire', 2004, 60.3191341529),
 ('New Hampshire', 2005, 61.5529065787),
 ('New Hampshire', 2006, 56.6337247286),
 ('New Hampshire', 2007, 57.3898171286),
 ('New Hampshire', 2008, 57.5191041608),
 ('New Hampshire', 2009, 51.3815540263),
 ('New Hampshire', 2010, 56.1122748205),
 ('New Hampshire', 2011, 52.9795469357),
 ('New Hampshire', 2012, 49.8468190509),
 ('New Hampshire', 2013, 46.7140911661),
 ('New Hampshire', 2014, 43.5813632813),
 ('New Hampshire', 2015, 47.461263075),
 ('New Hampshire', 2016, 48.5013905558),
 ('New Jersey', 2000, 69.1672327595),
 ('New Jersey', 2001, 75.7474660723),
 ('New Jersey', 2002, 75.4342635355),
 ('New Jersey', 2003, 71.2481946974),
 ('New Jersey', 2004, 70.9223043975),
 ('New Jersey', 2005, 70.0643865617),
 ('New Jersey', 2006, 68.7254376714),
 ('New Jersey', 2007, 68.6009224419),
 ('New Jersey', 2008, 69.8039312407),
 ('New Jersey', 2009, 70.8348918682),
 ('New Jersey', 2010, 71.8658524956),
 ('New Jersey', 2011, 72.8968131231),
 ('New Jersey', 2012, 65.0112385986),
 ('New Jersey', 2013, 63.783706117),
 ('New Jersey', 2014, 66.3793461947),
 ('New Jersey', 2015, 65.31225422),
 ('New Jersey', 2016, 0.0),
 ('New Mexico', 2000, 164.0),
 ('New Mexico', 2001, 155.4076730776),
 ('New Mexico', 2002, 146.8153461552),
 ('New Mexico', 2003, 138.2230192328),
 ('New Mexico', 2004, 129.6306923104),
 ('New Mexico', 2005, 121.038365388),
 ('New Mexico', 2006, 112.4460384656),
 ('New Mexico', 2007, 103.8537115432),
 ('New Mexico', 2008, 95.2613846208),
 ('New Mexico', 2009, 86.6690576984),
 ('New Mexico', 2010, 78.076730776),
 ('New Mexico', 2011, 69.4844038536),
 ('New Mexico', 2012, 69.9147434988),
 ('New Mexico', 2013, 69.1531275876),
 ('New Mexico', 2014, 67.4382711042),
 ('New Mexico', 2015, 66.4312780836),
 ('New Mexico', 2016, 0.0),
 ('New York', 2000, 73.8638390644),
 ('New York', 2001, 76.3624757572),
 ('New York', 2002, 74.8394642717),
 ('New York', 2003, 73.1534041248),
 ('New York', 2004, 70.6286442604),
 ('New York', 2005, 70.5655285172),
 ('New York', 2006, 70.5547851409),
 ('New York', 2007, 69.1887998237),
 ('New York', 2008, 67.5964382435),
 ('New York', 2009, 58.6710170531),
 ('New York', 2010, 61.513273965),
 ('New York', 2011, 57.587992241),
 ('New York', 2012, 68.6814451662),
 ('New York', 2013, 69.8223823782),
 ('New York', 2014, 68.1607056547),
 ('New York', 2015, 67.1323360203),
 ('New York', 2016, 68.1907877625),
 ('North Carolina', 2000, 75.8114466664),
 ('North Carolina', 2001, 77.6682051482),
 ('North Carolina', 2002, 72.8140004201),
 ('North Carolina', 2003, 71.3291011382),
 ('North Carolina', 2004, 67.3438431161),
 ('North Carolina', 2005, 71.2062436288),
 ('North Carolina', 2006, 75.6980880949),
 ('North Carolina', 2007, 73.2641610259),
 ('North Carolina', 2008, 64.5647755043),
 ('North Carolina', 2009, 61.3770650834),
 ('North Carolina', 2010, 67.5136650105),
 ('North Carolina', 2011, 62.7400108055),
 ('North Carolina', 2012, 60.1878766155),
 ('North Carolina', 2013, 59.2109077951),
 ('North Carolina', 2014, 59.0467094066),
 ('North Carolina', 2015, 57.5702531989),
 ('North Carolina', 2016, 59.1891729809),
 ('North Dakota', 2000, 164.0),
 ('North Dakota', 2001, 149.1623568168),
 ('North Dakota', 2002, 134.3247136336),
 ('North Dakota', 2003, 119.4870704505),
 ('North Dakota', 2004, 104.6494272673),

In [ ]:
state_data = {}
for state, year, score in zip_data:
    state_data['States'] = state
    state_data['Year'] = year
    state_data[year] = score